.control-btn {
    cursor: pointer;
    padding: 6px 12px;
    margin-right: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.control-btn:hover {
    background-color: #0056b3;
}

.tree-container {
    margin-top: 20px;
}

.node {
    margin-left: 20px;
    cursor: pointer;
}

.label {
    user-select: none;
}

.children {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: yellow;
}

.flex {
    display: flex;
    height: 100vh; /* Adjust based on your layout needs */
}

.panel {
    overflow: auto; /* Add scrollbar if content overflows */
}

#treeViewer, #d3Visualization {
    flex-basis: 50%; /* Evenly distribute the initial width */
    overflow: auto;
}

.resizer {
    cursor: ew-resize;
    background-color: #ccc;
    width: 5px;
    height: 100%;
}

.ghost-divider {
    width: 5px; /* Match the width of your resizer */
    z-index: 100; /* Ensure it's above other content */
    background-color: rgba(0, 0, 0, 0.08); /* Semi-transparent for the dragging effect */
    position: absolute;
}

#relation-configurator { 
    transition: max-height 2s ease;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
   }
