@tailwind base;
@tailwind components;
@tailwind utilities;

.tree-container {
    margin-top: 20px;
}

.node {
    margin-left: 20px;
    cursor: pointer;
}

.label {
    user-select: none;
}

.children {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: yellow;
}

#treeViewer, #d3Visualization {
    flex-basis: 50%; /* Evenly distribute the initial width */
    overflow: auto;
}

.ghost-divider {
    width: 5px; /* Match the width of your resizer */
    z-index: 100; /* Ensure it's above other content */
    background-color: rgba(0, 0, 0, 0.08); /* Semi-transparent for the dragging effect */
    position: absolute;
}

.configurator-hidden {
    display: none;
}

#relation-configurator { 
    transition: max-height 2s ease;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    z-index: 200;
   }
