.control-btn {
    cursor: pointer;
    padding: 6px 12px;
    margin-right: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.control-btn:hover {
    background-color: #0056b3;
}

.tree-container {
    margin-top: 20px;
}

.node {
    margin-left: 20px;
    cursor: pointer;
}

.label {
    user-select: none;
}

.children {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: yellow;
}

.flex {
    display: flex;
    height: 100vh; /* Adjust based on your layout needs */
}

.panel {
    /*flex: 1;*/ /* Distribute space equally */
    overflow: auto; /* Add scrollbar if content overflows */
}

/* Optional: if you want a divider in between that the user can drag to resize */
#treeViewer {
    /*resize: horizontal;*/
    overflow: auto;
}

#d3Visualization {
    overflow: auto;
}

/* Prevent the treeViewer from being resized too small or too large */
/*#treeViewer {
    min-width: 20%;
    max-width: 80%;
}*/

.resizer {
    cursor: ew-resize;
    background-color: #ccc;
    width: 5px;
    height: 100%;
}
